@charset "ISO-8859-1";
body {
  background-color: lightblue;
}
h1 {text-align: center;}
a {
    line-height: 2em;
    display: inline-block;
    text-decoration: none;
    margin-right: 60
}
.search {
	font-size: 2em;
	color: black;
}
input[type=submit] {	
  height: 20%;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  white-space: normal;
  word-wrap: break-word;
  box-sizing: border-box;
}
